<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{vm.contact.name}}</span>
            <span class="md-subhead">{{vm.contact.phone}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-sm card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ui-sref="add-contact({id:vm.contact.id})">Edit</md-button>
        <md-button>Delete</md-button>
    </md-card-actions>
</md-card>